{% extends 'base.html' %}
{% block title %}Opis projektu{% endblock %}
{% block content %}
        
        <h2 class="text-center">Cel aplikacji</h2>
        <p class="w-50 m-auto py-3">Aplikacja ma na celu pobieranie danych z portalu Ceneo i wyświetalnie ich w przejrzysty sposób na stronie wraz z dodatkowymi wykresami.</p>

        <h2 class="text-center">Opis działania aplikacji</h2>
        <p class="w-50 m-auto py-3">Aplikacja pobiera dane z Ceneo za pomocą biblioteki Requests. Strony produktów wyszukiwane są za pomocą ich ID, a następnie zapisywane w pliku JSON.</p>

        <h2 class="text-center">Zastosowane biblioteki:</h2>
        <ul class="w-50 m-auto py-3 list-unstyled">
            
            <li>BeautifulSoup</li>
            <li>Requests</li>
            <li>Json</li>
            <li>Os</li>
            <li>Pandas</li>
            <li>Numpy</li>
            <li>Matplotlib</li>

        </ul>

        <h2 class="text-center">Zastosowane podejścia</h2>
        
        <ul class="w-50 m-auto py-3 list-unstyled">
            
            <li>Strukturalne(początkowo)</li>
            <li>Obiektowe</li>

        </ul>

{% endblock %}