<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Olaf Bodzioch">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Strona główna | CeneoWebScraper</title>
</head>
<body class="bg-secondary">
<div id="content" class="w-75 bg-light m-auto p-5 rounded">
    <nav class="navbar navbar-default text-center mb-5">
           <a href="ekstrakcja.html">Ekstrakcja Opinii</a></span>
           <a href="lista.html">Lista produktów</a>
           <a href="index.html">Strona główna</a>
           <a href="autor.html">O autorze</a>
    </nav>
    <div id="main" class="bg-black text-center">
        <h1 class="text-center">Cel aplikacji</h1>
        <p class="w-50 m-auto py-3">Aplikacja ma na celu pobieranie danych z portalu Ceneo i wyświetalnie ich w przejrzysty sposób na stronie wraz z dodatkowymi wykresami.</p>

        <h1 class="text-center">Opis działania aplikacji</h1>
        <p class="w-50 m-auto py-3">Aplikacja pobiera dane z Ceneo za pomocą biblioteki Requests. Strony produktów wyszukiwane są za pomocą ich ID, a następnie zapisywane w pliku JSON.</p>

        <h1 class="text-center">Zastosowane biblioteki:</h1>
        <ul class="w-50 m-auto py-3 list-unstyled">
            
            <li>BeautifulSoup</li>
            <li>Requests</li>
            <li>Json</li>
            <li>Os</li>
            <li>Pandas</li>
            <li>Numpy</li>
            <li>Matplotlib</li>

        </ul>

        <h1 class="text-center">Zastosowane podejścia</h1>
        
        <ul class="w-50 m-auto py-3 list-unstyled">
            
            <li>Strukturalne(początkowo)</li>
            <li>Obiektowe</li>

        </ul>

    </div>
</div>
</body>
</html>