<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Olaf Bodzioch">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Strona główna | CeneoWebScraper</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="script.js"></script>
</head>

<body class="bg-secondary" onload="create_table()">
    <div id="content" class="w-75 bg-light m-auto p-5 rounded">
        <nav class="navbar navbar-default text-center mb-5">
            <a href="ekstrakcja.html">Ekstrakcja Opinii</a></span>
            <a href="lista.html">Lista produktów</a>
            <a href="index.html">Strona główna</a>
            <a href="autor.html">O autorze</a>
        </nav>

        <table id="datatable" class="text-center m-auto border">
            <tr>
                <td class="border">ID Opinii</td>
                <td class="border">Autor</td>
                <td class="border">Rekomendacja</td>
                <td class="border">Ocena</td>
                <td class="border">Zakupiono</td>
                <td class="border">Data opinii</td>
                <td class="border">Data zakupu</td>
                <td class="border">Łapka w górę</td>
                <td class="border">Łapka w dół</td>
                <td class="border">Zawartość opinii</td>
                <td class="border">Zalety</td>
                <td class="border">Wady</td>
            </tr>

        </table>

    </div>
</body>
</html>