{% extends 'base.html' %}
{% block title %}Produkty lista{% endblock %}
{% block content %}     
            <ul class="list-group">
                <li class="list-group-item list-group-item-success">First item</li>
                <li class="list-group-item list-group-item-info">Second item</li>
                <li class="list-group-item list-group-item-warning">Third item</li>
                <li class="list-group-item list-group-item-danger">Fourth item</li>
            </ul>
{% endblock %}
